:root {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

.parag {
  margin-bottom: 3rem;
}

@mixin media-tablet {
  @media screen and (max-width: 850px) {
    @content;
  }
}

@mixin media-medium-small {
  @media screen and (max-width: 475px) {
    @content;
  }
}

@mixin media-small {
  @media screen and (max-width: 400px) {
    @content;
  }
}

.nav {
  height: 6rem;
  background-color: rgb(44, 37, 251);
  display: grid;
  align-items: center;

  &-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    img {
      width: 14rem;
      height: 3rem;
      margin-left: 2rem;
    }

    &-links a:link,
    &-links a:visited {
      font-size: 1.6rem;
      margin-right: 3rem;
      letter-spacing: 0.2rem;
      font-family: Arial, Helvetica, sans-serif;
      padding: 1rem;
    }

    &-links a:hover,
    &-links a:active {
      background-color: rgb(162, 159, 255);
      color: black;
    }
  }
}

.btn {
  width: 15rem;
  height: 5rem;
  border-radius: 2rem;
  border: none;
  background-color: white;
  color: black;
  cursor: pointer;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
}

.showcase {
  background-image: url(/images/icon.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  &-content {
    padding: 2rem;
    color: white;

    h1 {
      font-size: 10rem;
      margin-top: 10vh;
      margin-bottom: 3rem;
    }

    p {
      font-size: 7rem;
      margin-bottom: 4rem;
    }

    &-button:hover,
    &-button:active {
      background-color: rgb(191, 28, 255);
      color: white;
      transition: all 0.5s ease-in-out;
    }
  }
}

.information {
  &-content {
    display: flex;
    flex-direction: row;
    height: auto;

    &-column {
      padding: 6rem 4rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h2 {
        font-size: 4rem;
        margin-bottom: 3rem;
        letter-spacing: 0.15rem;
        line-height: 1.5;
      }

      h3 {
        font-size: 3rem;
        margin-bottom: 2rem;
        margin-top: 2rem;
        letter-spacing: 0.15rem;
        line-height: 1.5;
      }

      p {
        font-size: 1.7rem;
        text-align: start;
        line-height: 1.5;
        font-family: Arial, Helvetica, sans-serif;
        letter-spacing: 0.15rem;
      }
    }

    &-column-white {
      &-line {
        top: 0;
        left: 0;
        right: 0;
        width: 10%;
        height: 0.5rem;
        background-color: black;
        color: black;
      }
    }

    &-column-black {
      background-color: black;
      color: wheat;

      &-line {
        top: 0;
        left: 0;
        right: 0;
        width: 10%;
        height: 0.5rem;
        background-color: red;
        color: red;
      }
    }
  }
}

.footer {
  &-content {
    background-color: black;
    color: wheat;
    padding: 6rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    h4 {
      font-size: 2.2rem;
      margin-bottom: 2rem;
      line-height: 1.7;
      letter-spacing: 0.2rem;
    }

    p {
      font-size: 1.6rem;
      line-height: 1.5;
      font-family: Arial, Helvetica, sans-serif;
      letter-spacing: 0.15rem;
      margin-bottom: 2rem;
    }

    a {
      color: wheat;
    }

    &-about,
    &-get-involved,
    &-help-center,
    &-social {
      margin-right: 5rem;
    }

    &-line {
      width: 100%;
      height: 0.1rem;
      background-color: rgba(245, 222, 179, 0.835);
      color: rgba(245, 222, 179, 0.835);
      margin-bottom: 2rem;
    }

    &-social {
      display: flex;
      flex-direction: column;

      i {
        font-size: 3rem;
      }

      a {
        color: wheat;
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        padding: 1.3rem;
        margin-right: calc(0.5rem + 2vw);
        border: 0.1rem solid rgba(245, 222, 179, 0.835);
      }

      &-icons {
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 3rem;
      }

      &-icons a:hover {
        background-color: wheat;
        transition: all 0.7s ease;
        color: black;
        border-radius: inherit;
        height: inherit;
        width: inherit;
      }

      p {
        font-size: 1.2rem;
        color: rgba(245, 222, 179, 0.843);
        justify-content: flex-end;
        align-items: flex-end;
        align-self: flex-end;
      }
    }
  }
}

@include media-tablet {
  .nav {
    height: auto;

    &-content {
      &-links {
        display: flex;
        flex-direction: column;
        margin-right: 5rem;
        margin-top: 5rem;
      }

      a:link,
      a:visited {
        margin-bottom: 3rem;
      }
    }
  }

  .showcase {
    &-content {
      h1 {
        font-size: 7.5rem;
        margin-top: 6vh;
      }

      p {
        font-size: 5rem;
      }
    }
  }

  .information {
    &-content {
      height: auto;

      h3 {
        font-size: 2.5rem;
      }
    }
  }
}

@include media-medium-small {
  .showcase {
    &-content {
      h1 {
        font-size: 7rem;
        margin-top: 5vh;
      }

      p {
        font-size: 4rem;
      }
    }
  }

  .information {
    &-content {
      flex-direction: column;

      &-column {
        padding: 4rem;
      }

      h2,
      h3,
      p {
        letter-spacing: 0.2rem;
      }

      h3 {
        font-size: 2.2rem;
        margin-bottom: 3.5rem;
      }
    }
  }

  .footer {
    &-content {
      &-about,
      &-get-involved,
      &-help-center,
      &-social {
        margin-right: 0;
        margin-bottom: 5rem;
      }

      p {
        margin-bottom: 3rem;
      }

      &-line {
        margin-bottom: 5rem;
      }

      &-social {
        &-icons {
          margin-bottom: 5rem;
        }
      }
    }
  }
}

@include media-small {
  .nav {
    height: auto;

    &-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &-links {
        margin-left: 5.2rem;
      }
    }

    img {
      margin-top: 5rem;
      margin-left: none;
    }
  }

  .information {
    &-content {
      h2 {
        font-size: 3.3rem;
      }

      h3 {
        font-size: 2rem;
      }
    }
  }
}
